.container {
  position: relative;
  margin: 0 auto;
  min-height: 650px;
  width: 95%;
  max-width: 940px;

  @include tablets {
    max-width: 720px;
  }

  @include phones {
    max-width: 460px;
  }

  @include small-phones {
    max-width: 360px;
  }

  @include small-height {
    min-height: 560px;
  }
}