.section {
  background-color: rgba(0, 0, 0, .45);
  min-width: 940px;
  min-height: 100vh;

  &__title {
    font-family: 'Gagalin';
    font-size: rem(72px);
    text-transform: uppercase;

    &--color {

      &_white {
        color: $white;
      }

      &_yellow {
        color: $yellow;
      }

      &_dark {
        color: $dark;
      }
    }
  }
}