.section {
  position: relative;
  @include flex($justify: center);
  min-height: 100vh;
  
  &__title {
    font-family: 'Gagalin';
    font-size: rem(72px);
    text-transform: uppercase;

    @include phones {
      font-size: rem(50px);
    }

    @include small-phones {
      font-size: rem(45px);
    }

    &--color {

      &_white {
        color: $white;
      }

      &_yellow {
        color: $yellow;
      }

      &_dark {
        color: $dark;
      }
    }
  }
}