@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input {
  border: none;
}
input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.main-content {
  position: relative;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
}
.section__title {
  font-family: 'Gagalin';
  font-size: 4.5rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 380px) {
  .section__title {
    font-size: 2.8125rem;
  }
}
.section__title--color_white {
  color: #ffffff;
}
.section__title--color_yellow {
  color: #f9b43b;
}
.section__title--color_dark {
  color: #2f3234;
}

.container {
  position: relative;
  margin: 0 auto;
  min-height: 650px;
  width: 95%;
  max-width: 940px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 460px;
  }
}
@media screen and (max-width: 380px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (max-height: 650px) {
  .container {
    min-height: 560px;
  }
}

.head-section {
  background-color: #181818;
  background-image: url("../img/backgrounds/texture.png"), url("../img/backgrounds/salad-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll, fixed;
}
.head-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .head-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.head-section__left-col {
  width: 48.9361702128%;
  background-image: url("../img/svg/drops.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 35%;
}
@media screen and (max-width: 768px) {
  .head-section__left-col {
    width: 64%;
  }
}
@media screen and (max-width: 480px) {
  .head-section__left-col {
    width: 79.5%;
  }
}
.head-section__right-col {
  width: 50%;
  padding-top: 4rem;
}
@media screen and (max-width: 768px) {
  .head-section__right-col {
    width: 66%;
    padding-top: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .head-section__right-col {
    padding-top: 30px;
    width: 84%;
  }
}
@media screen and (max-width: 380px) {
  .head-section__right-col {
    padding-top: 10px;
  }
}
.head-section__img {
  position: relative;
  left: 54%;
  max-width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .head-section__img {
    left: 52%;
  }
}
@media screen and (max-width: 480px) {
  .head-section__img {
    max-width: 92%;
  }
}
.head-section__text--small {
  display: inline-block;
  margin-top: 8px;
  font-family: "Lifehack";
  font-size: 4.0625rem;
  line-height: 3.8rem;
  text-transform: none;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .head-section__text--small {
    margin-top: -15px;
    font-size: 3.375rem;
  }
}
@media screen and (max-width: 380px) {
  .head-section__text--small {
    margin-top: 0;
    font-size: 2.5rem;
    line-height: 2.4rem;
  }
}
.head-section__arrow-button {
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .head-section__arrow-button {
    margin-bottom: 30px;
  }
}

.about-section {
  background-color: #f9f3ef;
  background-image: url("../img/backgrounds/table-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .about-section {
    background-image: url("../img/backgrounds/table-bg-tablet.jpg");
  }
}
@media screen and (max-width: 768px) {
  .about-section {
    background-image: url("../img/backgrounds/table-bg-mobile.jpg");
  }
}
.about-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.about-section__content {
  margin: auto;
}

.burgers-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background-image: -o-linear-gradient(#f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background-image: linear-gradient(#f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}
.burgers-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0;
}

.team-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #575757;
  background-image: url("../img/backgrounds/team-photo.jpg");
  background-size: cover;
}
.team-section__container {
  margin: 0;
  width: 50%;
  padding-left: 8%;
  background-color: rgba(47, 50, 52, 0.93);
}
@media screen and (max-width: 768px) {
  .team-section__container {
    max-width: 100%;
    width: 100%;
    padding-left: 0;
  }
}
.team-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  max-width: 380px;
  padding-top: 10%;
  padding-bottom: 10%;
}
@media screen and (max-width: 768px) {
  .team-section__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
}
.team-section__team {
  margin: auto;
}
@media screen and (max-width: 768px) {
  .team-section__team {
    width: 48%;
  }
}
@media screen and (max-width: 380px) {
  .team-section__team {
    width: 100%;
  }
}

.menu-section {
  background-color: #404b50;
  background-image: url("../img/backgrounds/burgers-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.menu-section__title {
  position: absolute;
  top: 10%;
  left: 5%;
}
.menu-section__menu {
  z-index: 1;
}

.reviews-section__container {
  width: 100%;
  max-width: 100%;
}

.order-section {
  background-color: #2c2c2c;
  background-image: url("../img/backgrounds/moto-bg.png"), url("../img/backgrounds/dark-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 480px) {
  .order-section__title {
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .order-section__title {
    line-height: 2.6rem;
  }
}
.order-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.order-section__content {
  margin: auto;
}
@media screen and (max-width: 768px) {
  .order-section__content {
    width: 65.5555555556%;
  }
}
@media screen and (max-width: 480px) {
  .order-section__content {
    width: 100%;
  }
}

.contacts-section {
  background-image: url("../img/map.jpg");
  background-size: cover;
}

.header {
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 1;
  width: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__container {
  padding-top: 10px;
  min-height: 80px;
}

.logo {
  display: inline-block;
  height: 4.375rem;
  width: 5.75rem;
}
.logo__img {
  max-width: 100%;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-navigation__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: auto;
}
.main-navigation__button {
  margin-left: 15px;
}
.main-navigation__navigation-popup__button {
  margin-left: 25px;
}
.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .main-navigation__list {
    display: none;
  }
}
.main-navigation__item:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 9px;
  margin-right: 10px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #ffffff;
}
.main-navigation__item:last-child:after {
  display: none;
}
.main-navigation__link {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.main-navigation__link:hover, .main-navigation__link:active, .main-navigation__link:focus {
  color: #e45028;
}

.button {
  display: inline-block;
  padding: 10px 17px;
  padding-bottom: 11px;
  border-radius: 5px;
  background-color: #e45028;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}
.button:hover, .button:active, .button:focus {
  background-color: #aa3515;
}
.button--color_dark {
  background-color: #2f3234;
}
.button--color_dark:hover, .button--color_dark:active, .button--color_dark:focus {
  background-color: #0b0b0c;
}
.button--color_transparent {
  padding: 9px 16px;
  border: 1px solid transparent;
  background: none;
  text-transform: none;
}
.button--color_transparent:hover, .button--color_transparent:active, .button--color_transparent:focus {
  background: none;
  border-color: #ffffff;
}

.navigation-popup {
  display: none;
}
.navigation-popup--on {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 50, 52, 0.95);
}
.navigation-popup__item {
  position: relative;
  margin-bottom: 50px;
}
.navigation-popup__item:after {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.navigation-popup__item:last-child {
  margin-bottom: 0;
}
.navigation-popup__item:last-child:after {
  display: none;
}
.navigation-popup__link {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.navigation-popup__button {
  display: none;
  height: 25px;
  width: 30px;
  background-image: url("../img/svg/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.navigation-popup__button--cross {
  background-image: url("../img/svg/exit-cross.svg");
}
@media screen and (max-width: 768px) {
  .navigation-popup__button {
    display: inline-block;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.arrow-button {
  display: inline-block;
  height: 30px;
  width: 55px;
  text-align: center;
  padding-top: 6px;
  -webkit-animation: jump;
          animation: jump;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.arrow-button:hover .arrow-button__icon, .arrow-button:focus .arrow-button__icon {
  fill: #e45028;
}
.arrow-button__icon {
  height: 15px;
  width: 35px;
  fill: #ffffff;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 480px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.features__item {
  position: relative;
  width: 33%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .features__item {
    width: 70%;
    padding-bottom: 40px;
    text-align: left;
  }
  .features__item:last-child {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 480px) and (max-width: 380px) {
  .features__item {
    padding-bottom: 10px;
    width: 80%;
  }
}

.features__item:before {
  content: "";
  position: absolute;
  top: -110px;
  left: 50%;
  display: inline-block;
  height: 90px;
  width: 100px;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 480px) {
  .features__item:before {
    top: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 380px) {
  .features__item:before {
    background-size: contain;
    height: 54px;
    width: 60px;
  }
}
.features__item--img_meat:before {
  background-image: url("../img/svg/meat.svg");
}
@media screen and (max-width: 480px) {
  .features__item--img_meat:before {
    left: -38%;
  }
}
@media screen and (max-width: 380px) {
  .features__item--img_meat:before {
    left: -26%;
  }
}
.features__item--img_hand:before {
  width: 75px;
  background-image: url("../img/svg/hand.svg");
}
@media screen and (max-width: 480px) {
  .features__item--img_hand:before {
    left: -31%;
  }
}
@media screen and (max-width: 380px) {
  .features__item--img_hand:before {
    left: -22%;
  }
}
.features__item--img_natural:before {
  background-image: url("../img/svg/natural.svg");
}
@media screen and (max-width: 480px) {
  .features__item--img_natural:before {
    left: -34%;
  }
}
@media screen and (max-width: 380px) {
  .features__item--img_natural:before {
    left: -26%;
  }
}
.features__title {
  margin-bottom: 13px;
  font-family: 'Lifehack';
  font-size: 1.5rem;
}
@media screen and (max-width: 380px) {
  .features__title {
    margin-bottom: 10px;
    line-height: 1.6rem;
  }
}
.features__desc {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.burger__photo {
  margin-top: 80px;
  width: 50.9361702128%;
}
@media screen and (max-width: 768px) {
  .burger__photo {
    margin-bottom: 20px;
    width: 65.2777777778%;
  }
}
@media screen and (max-width: 480px) {
  .burger__photo {
    margin-bottom: 5px;
    width: 78.26087%;
  }
}
.burger__img {
  width: 100%;
}
.burger__desc {
  width: 47.8723404255%;
}
@media screen and (max-width: 768px) {
  .burger__desc {
    width: 82.7777777778%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .burger__desc {
    width: 100%;
  }
}
.burger__title {
  line-height: 4rem;
}
@media screen and (max-width: 380px) {
  .burger__title {
    line-height: 2.5rem;
  }
}
.burger__text {
  margin-top: 40px;
  font-size: 0.875rem;
  font-weight: lighter;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .burger__text {
    margin-top: 15px;
  }
}
.burger__payment {
  margin-top: 12px;
  font-family: "Gagalin";
  color: #e45028;
}
.burger__price {
  font-size: 4.5rem;
}
@media screen and (max-width: 480px) {
  .burger__price {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 380px) {
  .burger__price {
    font-size: 2.5rem;
  }
}
.burger__currency {
  font-size: 1.875rem;
}
@media screen and (max-width: 380px) {
  .burger__currency {
    font-size: 1.5625rem;
  }
}
.burger__button {
  margin-left: 30px;
}
.burger__composition {
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 768px) {
  .burger__composition {
    left: 20%;
  }
}
@media screen and (max-width: 480px) {
  .burger__composition {
    left: 0;
  }
}
.burger__caloricity {
  position: absolute;
  left: 0;
  bottom: -70px;
}
@media screen and (max-width: 768px) {
  .burger__caloricity {
    top: 0;
    right: 20%;
    bottom: auto;
    left: auto;
  }
}
@media screen and (max-width: 480px) {
  .burger__caloricity {
    right: 0;
  }
}

.composition {
  position: absolute;
  text-align: left;
}
.composition:hover .composition__table, .composition:active .composition__table, .composition:focus .composition__table {
  position: static;
  display: inline-block;
  margin-left: -4px;
}
@media screen and (max-width: 380px) {
  .composition:hover .composition__table, .composition:active .composition__table, .composition:focus .composition__table {
    margin-left: 0;
  }
}
.composition__button {
  vertical-align: top;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Gagalin";
  font-size: 0.875rem;
  font-weight: 500;
  background-image: url("/img/svg/burger.svg");
  background-repeat: no-repeat;
  background-position: center 13px;
}
.composition__table {
  display: inline-block;
  position: absolute;
  left: -9999px;
  padding: 15px 20px;
  vertical-align: top;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
.composition__table-row:before {
  content: "";
  display: inline-block;
  margin-right: 18px;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.composition__table-row--type_beef:before {
  background-image: url("../img/svg/beef.svg");
}
.composition__table-row--type_buns:before {
  background-image: url("../img/svg/buns.svg");
}
.composition__table-row--type_salad:before {
  background-image: url("../img/svg/salad.svg");
}
.composition__table-row--type_sauce:before {
  background-image: url("../img/svg/sauce.svg");
}
.composition__table-row--type_cucumber:before {
  background-image: url("../img/svg/cucumber.svg");
}
.composition__table-row--type_cheese:before {
  background-image: url("../img/svg/cheese.svg");
}
.composition__table-data {
  padding-top: 12px;
  padding-bottom: 12px;
}
.composition__table-data--ingredient {
  width: 130px;
  text-align: left;
  font-weight: 700;
}
.composition__table-data--weight {
  text-align: right;
  font-weight: 300;
}

.caloricity {
  width: 60px;
  padding-top: 25px;
  background-image: url("/img/svg/kkal.svg");
  background-repeat: no-repeat;
  background-position: top right;
  text-align: center;
  font-family: "Gagalin";
  font-size: 1.25rem;
  color: white;
  opacity: 0.5;
}
.caloricity-kkal {
  display: inline-block;
  font-size: 0.875rem;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .team {
    text-align: center;
  }
}
.team__item {
  margin-bottom: 35px;
  outline: none;
}
.team__item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-bottom: 15px;
  }
}
.team__name {
  position: relative;
  margin-left: 16px;
  font-family: 'Gagalin';
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
@media screen and (max-width: 768px) {
  .team__name {
    font-size: 1.5rem;
  }
}
.team__name:before {
  content: "";
  position: absolute;
  top: 7px;
  left: -16px;
  height: 0;
  width: 0;
  border-width: 6px 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #f9b43b;
  -webkit-transform-origin: 5px 3px;
      -ms-transform-origin: 5px 3px;
          transform-origin: 5px 3px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  .team__name:before {
    top: 12px;
  }
}
.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
  padding-left: 18px;
  height: 0;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .team__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}
.team__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-ordinal-group: -9;
      -ms-flex-order: -10;
          order: -10;
  margin-right: 26px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .team__avatar {
    margin-right: 0;
    margin-bottom: 18px;
  }
}
.team__avatar-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__desc {
  -webkit-box-ordinal-group: -4;
      -ms-flex-order: -5;
          order: -5;
  color: #ffffff;
}
.team__position {
  font-size: 0.875rem;
  font-weight: 900;
}
.team__text {
  margin-top: 10px;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.active:hover .team__name,
.active:focus .team__name,
.active:active .team__name {
  color: #f9b43b;
}
.active:hover .team__name:before,
.active:focus .team__name:before,
.active:active .team__name:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.active:hover .team__content,
.active:focus .team__content,
.active:active .team__content {
  height: initial;
  overflow: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #ffffff;
  outline: none;
}
.menu__category {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-width: 80px;
  background-color: #4c4e50;
  background-size: cover;
  background-blend-mode: overlay;
}
.menu__category--type_meateater {
  background-image: url("../img/menu/menu-meateater.jpg");
  background-position-x: -42%;
}
.menu__category--type_vegan {
  background-image: url("../img/menu/menu-vegan.jpg");
  background-position-x: -20%;
}
.menu__category--type_diet {
  background-image: url("../img/menu/menu-diet.jpg");
  background-position-x: right;
}
@media screen and (max-width: 380px) {
  .menu__category {
    min-width: 60px;
  }
}
.menu__category-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Gagalin";
  font-size: 2.5rem;
  white-space: nowrap;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
      -ms-transform: rotate(-90deg) translateX(-50%) translateY(-50%);
          transform: rotate(-90deg) translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 768px) {
  .menu__category-text {
    top: auto;
    bottom: 30px;
    -webkit-transform: rotate(-90deg) translateX(0) translateY(-50%);
        -ms-transform: rotate(-90deg) translateX(0) translateY(-50%);
            transform: rotate(-90deg) translateX(0) translateY(-50%);
  }
}
.menu__desc {
  min-height: 100vh;
  padding: 11% 0;
  max-width: 540px;
  width: 0;
  background-color: rgba(47, 50, 52, 0.93);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .menu__desc {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
}
.menu__text {
  margin: 0 5%;
  font-size: 0;
  font-weight: 300;
}

.active:hover .menu__desc, .active:focus .menu__desc, .active:active .menu__desc {
  width: auto;
}
.active:hover .menu__text, .active:focus .menu__text, .active:active .menu__text {
  font-size: 0.875rem;
}

.reviews {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__item {
  position: relative;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 25%;
  min-height: 50vh;
  outline: none;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    width: 50%;
    min-height: 25vh;
  }
}
.reviews__item:hover .reviews__content, .reviews__item:focus .reviews__content, .reviews__item:active .reviews__content {
  visibility: visible;
}
.reviews__photo {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.reviews__content {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 5% 7.6363636364%;
  background-color: rgba(68, 69, 70, 0.55);
  color: #ffffff;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.reviews__content p:first-child {
  margin-bottom: 20px;
  font-family: 'Gagalin';
  font-size: 0.875rem;
}
@media screen and (max-width: 480px) {
  .reviews__content p:first-child {
    font-size: 1.5rem;
  }
}
.reviews__content p:nth-child(2) {
  margin-bottom: 10px;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 480px) {
  .reviews__content p:nth-child(2) {
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
  }
}

.order-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media screen and (max-width: 768px) {
  .order-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.order-form__col {
  width: 48.9361702128%;
}
@media screen and (max-width: 768px) {
  .order-form__col {
    width: 100%;
    margin-top: 16px;
  }
  .order-form__col:first-child {
    margin-top: 0;
  }
}
.order-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 16px;
}
.order-form__row:first-child {
  margin-top: 0;
}
.order-form__row--buttons {
  display: block;
  margin-top: 15px;
}
.order-form__row--buttons:first-child {
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  .order-form__row--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 33px;
  }
  .order-form__row--buttons:first-child {
    margin-top: 33px;
  }
}
@media screen and (max-width: 380px) {
  .order-form__row--buttons:first-child {
    margin-top: 10px;
  }
}
@media screen and (max-width: 380px) {
  .order-form__row {
    margin-top: 5px;
  }
}
.order-form__elem {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-right: 20px;
}
.order-form__elem:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .order-form__elem--radio {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.order-form__label {
  font-size: 0.875rem;
  color: #ffffff;
  cursor: pointer;
}
.order-form__input {
  margin-top: 4px;
  height: 2rem;
  width: 100%;
  border: 2px solid #d1cfcb;
  border-radius: 4px;
}
.order-form__textarea {
  height: 6.625rem;
  resize: none;
}
.order-form__radio {
  position: absolute;
  opacity: 0;
}
.order-form__radio:checked + .order-form__radio-fake {
  background-color: #e45028;
}
.order-form__radio-fake {
  display: inline-block;
  margin-right: 10px;
  height: 16px;
  width: 16px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.order-form__checkbox {
  position: absolute;
  opacity: 0;
}
.order-form__checkbox:checked + .order-form__checkbox-fake {
  background-image: url("../img/svg/orange-mark.svg");
}
.order-form__checkbox-fake {
  display: inline-block;
  margin-right: 10px;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
  cursor: pointer;
}
.order-form__submit {
  margin-right: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  background-color: #0e0e0e;
  background-image: url("../img/backgrounds/dark-bg.jpg");
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  min-height: 5rem;
}
@media screen and (max-width: 480px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 7.1875rem;
  }
}

.contacts {
  font-family: .contacts fonts;
  font-size: 0.875rem;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts {
    text-align: center;
  }
}
.contacts__addres {
  display: inline-block;
  margin-bottom: 8px;
  color: #ffffff;
}
.contacts__phone-number {
  font-weight: 900;
  color: #e45028;
}
.contacts__phone-number:before {
  content: url("../img/svg/phone.svg");
  margin-right: 8px;
  display: inline-block;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item {
  margin-right: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon, .socials__link:active .socials__icon {
  fill: #ffffff;
}
.socials__icon {
  max-height: 100%;
  max-width: 100%;
  fill: #5a5a5a;
}

.dots-nav {
  z-index: 1;
  position: fixed;
  right: 2%;
  top: 14%;
}
@media screen and (max-width: 768px) {
  .dots-nav {
    display: none;
  }
}
.dots-nav__link {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.dots-nav__link:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}
.dots-nav__link:hover, .dots-nav__link:active, .dots-nav__link:focus {
  border: 1px solid #ffffff;
  border-radius: 50%;
}

nav a {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */