@import 'layout/fonts';
@import 'config/variables';
@import 'config/mixins';
@import 'layout/base';
@import 'main-components/wrapper';
@import 'main-components/main-content';
@import 'main-components/section';
@import 'main-components/container';
@import 'sections/best';
@import 'sections/head';
@import 'sections/feetback';
@import 'components/header';
@import 'components/logo';
@import 'components/nav';
@import 'components/button';
@import 'components/arrow-button';
@import 'components/about';
@import 'components/reviews';
@import 'components/dots-nav';
// @import 'components/';
// @import 'components/';
// @import 'components/';