.about-section {
  background-image: url('../img/backgrounds/table-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include phones {
    background-image: url('../img/backgrounds/table-bg-mobile.jpg');
  }

  &__container {
    @include flex(column, center, center);
  }

  &__content {
    margin: rem(70px) 0;
  }
}