.best {
  background-image: url('/img/backgrounds/table-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  &__container {
    @include flex(column, center, center);
  }

  &__title {
    margin-top: rem(40px);
    margin-bottom: auto;
  }

  &__content{
    margin-bottom: auto;
  }
}