.head {
  background-image: url('/img/backgrounds/texture.png'), url('/img/backgrounds/salad-bg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll, fixed;


  &__container {
    @include flex(column, center, center);
  }

  &__content {
    @include flex($justify:space-between, $align:center);
    margin-top: auto;
    width: 100%;
  }

  &__img {
    flex-basis: 50%;
    height: 420px;
    background-image: url('/img/burgers/burger-with-steam.png'), url('/img/svg/drops.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 42px, 5px;
    background-position-y: 0px, 66px;
  }

  &__text {
    flex-basis: 50%;
    margin-top: 4rem;
  }

  &__title {
    flex-basis: 50%;
    margin-top: 1.3rem;
    font-family: 'Lifehack';
    font-size: rem(65px);
    color: $white;
    line-height: 3.8rem;
  }


  &__arrow-button {
    margin-top: auto;
    margin-bottom: rem(40px);
  }
}