.menu-section {
  background-color: #404b50;
  background-image: url("../img/backgrounds/burgers-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    @include flex($justify: flex-end);
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 10%;
    left: 5%;
  }

  &__menu {
    z-index: 1;
  }
}