.order-section {
  background-image: url('../img/backgrounds/moto-bg.png'), url('../img/backgrounds/dark-bg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
    @include flex(column, center, center);
  }

  &__content {
    margin: rem(70px) 0;

    @include tablets {
      width: 65.5555555556%;
    }

    @include phones {
      width: 100%;
      margin: rem(30px) 0;
    }
  }
}