@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin flex($direction:row, $justify:flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin small-phones {
  @media screen and (max-width: $small-phones) {
    @content;
  }
}

@mixin small-height {
  @media screen and (max-height: $small-height) {
    @content;
  }
}