.arrow-button {
  display: inline-block;
  height: 30px;
  width: 55px;
  text-align: center;
  padding-top: 6px;
  animation: jump;
  animation-duration: 4s;
  animation-iteration-count: infinite;

  &:hover, &:focus {

    .arrow-button__icon {
      fill: $orange;
    }
  }

  &__icon {
    height: 15px;
    width: 35px;
    fill: $white;
  }
} 



@keyframes jump {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-30px);
  }
  
  70% { 
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}