.arrow-button {
  height: rem(30px);
  width: rem(55px);
  background-image: url('/img/svg/arrow-scroll.svg');
  background-repeat: no-repeat;
  background-position: center;
  animation: jump;
  animation-duration: 4s;
  animation-iteration-count: infinite;
} 

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-30px);
  }
  
  70% { 
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}