.button {
  // min-width: 98px;
  padding: 0.75em 1em;
  padding-bottom: 0.8em;
  background-color: $orange;
  border-radius: 0.3125em;
  white-space: nowrap;
  text-align: center;
  font-family: $fonts;
  font-size: rem(13px);
  font-weight: 700;
  line-height: 1.42; 
  color: $white;
  text-transform: uppercase;
  transition: background .5s;

  &:hover, &:active, &:focus  {
    background-color: darken($orange, 15%);
  }

  // &:focus {
  //   visibility: initial;
  // }

  &--color {

    &_dark {
      background-color: $dark;

      &:hover, &:active, &:focus  {
        background-color: darken($dark, 15%);
      }
    }

    &_transparent {
      padding: 0.6875em 1em;
      border: 1px solid transparent;
      background: none;
      text-transform: none;

      &:hover, &:active, &:focus {
        
        background: none;
        border-color: $white;
      }
    }
  }
}