.button {
  display: inline-block;
  padding: 10px 17px;
  padding-bottom: 11px;
  border-radius: 5px;
  background-color: $orange;
  font-family: $fonts;
  font-size: rem(13px);
  font-weight: 700;
  line-height: 1.42; 
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: $white;
  transition: background .5s;

  &:hover, &:active, &:focus  {
    background-color: darken($orange, 15%);
  }

  &--color {

    &_dark {
      background-color: $dark;

      &:hover, &:active, &:focus  {
        background-color: darken($dark, 15%);
      }
    }

    &_transparent {
      padding: 9px 16px;
      border: 1px solid transparent;
      background: none;
      text-transform: none;

      &:hover, &:active, &:focus {
        
        background: none;
        border-color: $white;
      }
    }
  }
}