.caloricity {
  width: 60px;
  padding-top: 25px;
  padding-left: 7px;
  background-image: url("../img/svg/kkal.svg");
  background-repeat: no-repeat;
  background-position: top right;
  text-align: center;
  font-family: "Gagalin";
  font-size: 20px;
  color: white;
  opacity: 0.5;

  &-kkal {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-left: -2px;
  }
}