.composition {
  position: absolute;

  &__button {
    vertical-align: top;
    padding-top: 60px;
    padding-left: 20px; 
    padding-right: 20px; 
    font-family: "Gagalin";
    font-size: rem(14px);
    font-weight: 500;
    background-image: url("../img/svg/burger.svg");
    background-repeat: no-repeat;
    background-position: center 13px;
  }

  &__container {
    position: absolute;
    left: -9999px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);

    @include tablets {
      padding-right: 60px;
    }

    @include phones {
      // padding-right: 40px;
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 2;
    display: none;
    width: 25px;
    height: 5px;
    border: none;
    border-radius: 2px;
    background-color: #ec8468;
    transform: rotate(45deg);

    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 25px;
      height: 5px;
      border: none;
      border-radius: 2px;
      background-color: #ec8468;
      transform: rotate(90deg);
    }

    @include tablets {
      display: block;
    }
  }

  &__table {
    padding: 15px 20px;
    vertical-align: top;
    font-size: rem(14px);

    &-row {
      &:before {
        content: "";
        display: inline-block;
        margin-right: 18px;
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-position: center;
      }

      &--type {
        &_beef:before {
          background-image: url("../img/svg/beef.svg");
        }
        &_buns:before {
          background-image: url("../img/svg/buns.svg");
        }
        &_salad:before {
          background-image: url("../img/svg/salad.svg");
        }
        &_sauce:before {
          background-image: url("../img/svg/sauce.svg");
        }
        &_cucumber:before {
          background-image: url("../img/svg/cucumber.svg");
        }
        &_cheese:before {
          background-image: url("../img/svg/cheese.svg");
        }
      }
    }

    &-data {
      padding-top: 12px;
      padding-bottom: 12px;

      &--ingredient {
        width: 130px;
        text-align: left;
        font-weight: 700;
      }

      &--weight {
        padding-left: 60px;
        text-align: right;
        font-weight: 300;

        @include phones {
          padding-left: 20px;
        }
      }
    }
  }
}

.composition--active {
  .composition__container {
    top: 0;
    left: 84px;

    @include small-phones {
      left: 0;
      top: 90px;
    }
  }
}