.features {
  @include flex($justify: space-between, $align:baseline);

  @include phones {
    @include flex(column, center, center);
  }

  &__item {
    min-height: rem(150px);
    width: 33%;
    text-align: center;

    @include phones {
      @include flex($justify: space-between, $align:center);
      width: 100%;
      text-align: left;
    }
  }

  &__pic {
    display: inline-block;
    margin-bottom: rem(30px);
    height: 90px;
    width: 100px;

    @include phones {
      flex: 0 0 auto;
      margin: 4%;
      height: 72px;
      width: 80px;
    }
  }

  &__img {
    max-height: 100%;
    max-width: 100%;

    &--color {

      &_green {
        fill: $green;
      }
      &_orange {
        fill: $orange;
      }

      &_yellow {
        fill: $yellow;
      }
    }
  }

  &__title {
    margin-bottom: 0.8rem;
    font-family: 'Lifehack';
    font-size: rem(24px);
  }

  &__desc {
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.6rem;
  }
}