.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #0e0e0e;
  background-image: url("../img/backgrounds/dark-bg.jpg");

  &__container {
    @include flex($justify: space-between, $align: center);
    padding: 12px 0;
    min-height: rem(80px);

    @include phones {
      @include flex(column, space-between, center);
      min-height: rem(115px);
    }
  }
}