.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  background-color: #0e0e0e;
  background-image: url("../img/backgrounds/dark-bg.jpg");

  &__container {
    @include flex($justify: space-between, $align: center);
    min-height: rem(80px);

    @include phones {
      @include flex(column, space-between, center);
      padding: 12px 0;
      min-height: rem(115px);
    }
  }
}