.main-navigation {
  @include flex(row, space-between, center);

  &__logo {
    flex-shrink: 0;
    margin-right: auto;
  }

  &__button {
    margin-left: 15px;
  }

  &__navigation-popup__button {
    margin-left: 25px;
  }
  
  &__list {
    @include flex($align:center);
    flex-wrap: wrap;

    @include tablets {
      display: none;
    }
  }

  &__item {

    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-left: 9px;
      margin-right: 10px;
      height: 4px;
      width: 4px;
      border-radius: 50%;
      background-color: $white;
    }

    &:last-child:after {
      display: none;
    }
  }

  &__link {
    font-family: $fonts;
    font-size: rem(13px);
    font-weight: 700;
    text-transform: uppercase;
    color: $white;

    &:hover, &:active, &:focus {
      color: $orange;
    }
  }
}