.order-form {

  &__container {
    @include flex($justify: space-between);

    @include tablets {
      @include flex(column, center, stretch);
    }
  }

  &__col {
    width: 48.9361702128%;

    @include tablets {
      width: 100%;
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__row {
    @include flex();
    margin-top: 16px;
    
    &:first-child {
      margin-top: 0;
    }

    &--buttons {
      display: block;
      margin-top: 15px;
      
      &:first-child {
        margin-top: 15px;
      }

      @include phones {
        @include flex(row, center);
        margin-top: 33px;

        &:first-child {
          margin-top: 33px;
        }
      }

      @include small-phones {
        &:first-child {
          margin-top: 10px;
        }
      }
    }

    @include small-phones {
      margin-top: 5px;
    }
  }

  &__elem {
    flex: 1 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--radio {
      @include phones {
        flex: 0 0 auto;
      }
    }
  }

  &__label {
    font-size: rem(14px);
    color: $white;
    cursor: pointer;
  }

  &__input {
    margin-top: 4px;
    padding: 0 4px;
    height: 2rem;
    width: 100%;
    border: 2px solid #d1cfcb;
    border-radius: 4px;
  }

  &__textarea {
    padding: 4px;
    height: rem(106px);
    resize: none;
  }

  &__radio {
    position: absolute;
    opacity: 0;

    &:checked + .order-form__radio-fake {
      background-color: $orange;
    }
  }

  &__radio-fake {
    display: inline-block;
    margin-right: 10px;
    height: 16px;
    width: 16px;
    border: 5px solid $white;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    opacity: 0;

    &:checked + .order-form__checkbox-fake {
      background-image: url("../img/svg/orange-mark.svg");
    }
  }

  &__checkbox-fake {
    display: inline-block;
    margin-right: 10px;
    height: 16px;
    width: 16px;
    background-color: $white;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center;
    cursor: pointer;
  }

  &__submit {
    margin-right: 5px;
  }
}