.reviews {
  height: 100%;
  width: 100%;
  @include flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    background-color: black;
    @include flex();
    width: 25%;
    min-height: 50vh;
    outline: none;

    @include tablets {
      width: 50%;
      min-height: 25vh;
    }

    &:hover, &:focus, &:active{
      
      .reviews__content {
        visibility: visible;
      }
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }



  &__content {
    z-index: 1;
    @include flex(column, center, flex-start);
    width: 100%;
    padding: 5% 7.6363636364%;
    background-color: rgba(68, 69, 70, 0.55);
    color: $white;
    visibility: hidden;

    @include tablets {
      align-items: center;
      text-align: center;
    }

    p:first-child {
      margin-bottom: 20px;
      font-family: 'Gagalin';
      font-size: rem(14px);

      @include phones {
        font-size: rem(24px);
      }
    }

    p:nth-child(2) {
      margin-bottom: 10px; 
      font-size: rem(14px);
      line-height: rem(24px);

      @include phones {
        margin-bottom: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }
}