.team {
  @include tablets {
    text-align: center;
  }

  &__item {
    margin-bottom: 35px;
    outline: none;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablets {
      margin-bottom: 15px;
    }
  }
  &__name {
    position: relative;
    margin-left: 16px;
    font-family: 'Gagalin';
    font-size: rem(14px);
    text-transform: uppercase;
    color: $white;
    white-space: nowrap;
    transition: color 0.4s;

    @include tablets {
      font-size: rem(24px);
    }

    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: -16px;
      height: 0;
      width: 0;
      border-width: 6px 5px;
      border-style: solid;
      border-color: transparent;
      border-top-color: $yellow;
      transform-origin: 5px 3px;
      transition: all 0.4s;

      @include tablets {
        top: 12px;
      }
    }
  }

  &__content {
    @include flex($align: center);
    margin-top: 18px;
    padding-left: 18px;
    height: 0;
    overflow: hidden;

    @include tablets {
      @include flex(column, center, center);
      padding-left: 0;
    }
  }

  &__avatar {
    flex: 0 0 auto;
    order: -10;
    margin-right: 26px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;

    @include tablets {
      margin-right: 0;
      margin-bottom: 18px;
    }
  }
  
  &__avatar-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__desc {
    order: -5;
    color: $white;
  }
  
  &__position {
    font-size: rem(14px);
    font-weight: 900;
  }

  &__text {
    margin-top: 10px;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
  }
}

.active:hover,
.active:focus,
.active:active {
  & .team__name {
    color: $yellow;

    &:before {
      transform: rotate(-180deg);
    }
  }

  & .team__content {
    height: initial;
    overflow: none;
  }
}